/*! Link Colors *************************/
a:link {
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: inherit;
}

/*! Font Decoration Style ***************************/
.doubleUnderline {
    border-bottom: 3px double red;
}
.doubleUnderlineDark {
    border-bottom: 3px double black;
}

/*! Three Dots Separators *****************/
.three-dots span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 2px 2px red, 4px 4px blue;
    background: black;
    display: inline-block;
    margin: 20px 5px;
}

.noUnderline:link {
    text-decoration: none;
}

.three-dots-special span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 2px 2px red, 4px 4px blue;
    background: black;
    display: inline-block;
    margin: 0 5px;
}

/*! Box, Font & Button Shadows **************************/
.btnShadow {
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    border-color: black;
    box-shadow: 3px 3px blue, 6px 6px red;
}

.boxShadow {
    box-shadow: 20px 20px black;
}

.tShadowBright {
    text-shadow: 2px 2px 0px black;
}

.tShadowDark {
    text-shadow: 2px 2px white;
}

/*! Colors Guessing Game *****************/
#message {
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px green, 2px 2px yellow;
}

.selected {
    color: blue;
    background: yellow;
}

/*! Colors 'Hidden Game' ******************/
.rulesTitle {
    font-weight: bolder;
    color: yellow;
    font-size: 1.3rem;
    letter-spacing: 1.2rem;
}
